body {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 5rem auto 5rem;
    background-color: black;
    overflow: visible;
    font-family: 'Playfair Display', serif;
}
article h1 {
    color: pink;
    padding-bottom: 1rem;
    padding-left: 5rem;
    font-size: xx-large;
    text-decoration: underline 1px;
    margin-left: 5%;
}
.inner_content h1 {
    color: white;
    padding-bottom: 1rem;
    padding-left: 7vw;
}
.inner_content p, h2 {
    color: white;
    padding-left: 5rem;
    padding-bottom: 1rem;
}
.inner_content li {
    color: white;
    padding-bottom: 1rem;
    margin-left: 5rem;
}
/*sidebar menu*/
.sidebar {
    padding: 0;
    margin: 0;
    background-color: black;
    position: relative;
}
.sidebar_btn {
    display: block;
    text-align: center;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar_link {
    color: white;
    text-decoration: underline 1px;
    font-family: 'Spartan', sans-serif;
    display: list-item;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
    border: pink 1px solid;
}
.logo {
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}
.logo a {
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: underline;
}
.content {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 50px auto 50px;
    background-color: black;
}
.heading {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu > ul {
    list-style-type: none;
}
.menu > ul > li {
    display: none;
    padding: 2em;
    margin-right: 1em;
}
.menu > ul > li > a {
    font-size: larger;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 600px) {
    .sidebar {
        display: none;
    }
    .menu > ul > li {
        display: inline;
        padding: 2vw;
        margin: 1vw;
    }
    .menu > ul > li > a {
        font-size: large;
    }
    .heading {
        justify-content: space-evenly;
    }
    form {
        width: 100%;
    }
    #submitBtn {
        transform: translateX(10rem);
    }
}
@media screen and (max-width: 1000px) and (min-width: 600px){
    .sidebar {
        display: none;
    }
    .menu > ul > li {
        display: inline;
    }
    .heading {
        justify-content: space-evenly;
    }
    form {
        width: 100%;
    }
    #submitBtn {
        transform: translateX(12rem);
    }
}
form {
    margin-right: 20%;
    border: pink 2px solid;
    margin-left: 10%;
}

form fieldset {
    list-style-type: none;
    padding: 2rem;
    margin: 2rem;
    color: white;
}
form label {
    margin-right: 1rem;
}
form button {
    border: pink solid 2px;
    background-color: black;
    color: pink;
    font-family: "Cinzel Decorative";
    font-size: medium;
    width: 7rem;
    height: 4rem;
    margin-bottom: 2rem;
    transform: translateX(25rem);
}
