body {
    display: grid;
    grid-template-columns: 1fr 10fr;
    background-color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
main {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-rows: 5rem auto 5rem;
    background-color: black;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
}
header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header svg {
    width: 3rem;
    height: 3rem;
}
.logo {
    min-height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;

}
.logo a {
    color: pink;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: underline;
}
footer {
    color: white;
    font-size: small;
    text-align: right;
    padding-top: 2rem;
    padding-right: 3rem;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
article {

}
article h1 {
    color: pink;
    padding-bottom: 1rem;
    padding-left: 5rem;
    font-size: xx-large;
    text-decoration: underline 1px;
}
article h2::before {
    content: "~ ";
}
article h2 {
    color: pink;
    padding-left: 5rem;
    padding-bottom: 1rem;
}
article p{
    color: white;
    padding-left: 5rem;
    padding-bottom: 1rem;
}
article li {
    color: white;
    padding-bottom: 1rem;
    margin-left: 5rem;
    padding-right: 3rem;
}
article p {
    margin-right: 5vw;
    text-align: justify;
    padding-right: 3rem;
}
/*sidebar menu*/
.sidebar {
    padding: 0;
    margin: 0;
    background-color: black;
    position: relative;
}
.sidebar_btn {
    display: block;
    text-align: center;
}
.sidebar_link {
    color: white;
    text-decoration: underline 1px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    display: list-item;
    padding: 1rem;
    margin: 1rem;
    list-style-type: none;
    border: pink 1px solid;
}
.menu > ul {
    list-style-type: none;
    justify-self: center;
}
.menu > ul > li {
    display: none;
    padding: 2em;
    margin-right: 1em;
}
.menu > ul > li > a {
    font-size: larger;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .sidebar {
        display: none;
    }
    main {
        min-width: 100vw;
    }
    .menu > ul > li {
        display: inline-block;
        padding: 1vw;
        margin-left: 1vw;
    }
    .menu > ul > li > a {
        font-size: small;
        text-decoration: underline 1px;
        color: white;
    }
    .header {
        justify-content: space-around;
    }
    header svg {
        width: 2rem;
        height: 2rem;
    }
    article p, h2{
        padding-left: 5rem;
        padding-right: 2rem;
    }
    article h1 {
        padding-left: 5rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 1200px) and (min-width: 600px){
    .sidebar {
        display: none;
    }
    .menu > ul > li {
        display: inline;
    }
    .menu > ul > li > a {
        text-decoration: underline 1px;
        color: white;
    }
    .header {
        justify-content: center;
    }
    main {
        min-width: 100vw;
    }
    header svg {
        width: 2rem;
        height: 2rem;
    }
    article h1 {
        padding-left: 5rem;
        padding-right: 2rem;
    }
    article p, h2 {
        padding-left: 5rem;
        padding-right: 2rem;
    }
}
