body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 50px auto 50px;
}
main {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}
#left {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}
#right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}
main img {
    width: 576px;
    height: 588px;
    position: absolute;
}
/* animation images*/
#earth-left{
    animation-name: earth, earth_a;
    animation-duration: 4s, 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#info_link {
    animation-name: earth, info_link_a;
    animation-duration: 4s;
    animation-delay: 4s, 5s;
    animation-timing-function: linear;
}
#canon-right{
    animation-name: photo, photo_a;
    animation-duration: 4s, 4s;
    animation-timing-function: linear;
    animation-delay: 5s;
}
#photo_link {
    animation-name: photo_link_a, photo;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 1s, 5s;
}
/* modifica opacitatea pozei earth-left + link-ului info=> aparitie photo*/
@keyframes earth {
    0% {opacity: 1}
    20% {opacity: 0.8}
    75% {opacity: 0}
    100% {opacity: 1}
}
/* modifica opacitatea pozei photo-right + link-ului photo => aparitie earth*/
@keyframes photo {
    0% {opacity: 1}
    20% {opacity: 0.8}
    75% {opacity: 0}
    100% {opacity: 1}
}
/* roteste imaginea photo*/
@keyframes photo_a {
    25% {transform: rotate(90deg) scale(0.8)}
    50% {transform: rotate(180deg) scale(0.5)}
    75% {transform: rotate(360deg) scale(0)}
    100% {transform: rotate(360deg)}
}
/* roteste imaginea earth*/
@keyframes earth_a {
    25% {transform: rotate(90deg) scale(0.8)}
    50% {transform: rotate(180deg) scale(0.5)}
    75% {transform: rotate(360deg) scale(0)}
    100% {transform: rotate(360deg)}
}
/* roteste link ul info*/
@keyframes info_link_a {
    0% {transform: rotate(-45deg)}
    50% {transform: rotate(-90deg) translatey(50%)}
    100% {transform: rotate(-90deg) translatey(90%)}
}
/* roteste link ul photo*/
@keyframes photo_link_a {
    0% {transform: rotate(-45deg)}
    50% {transform: rotate(-90deg) translatey(-50%)}
    100% {transform: rotate(-90deg) translatey(-100%)}
}
#canon-left, #earth-right {
    z-index: 0;
}
#canon-right, #earth-left {
    z-index: 1;
}
/*-------------------------*/

main a {
    position: absolute;
    color: white;
    text-decoration: none;
    writing-mode: vertical-lr;
    font-size: 7rem;
    z-index: 2;
    text-shadow: 2px 2px 4px #000000;
}
#info_link {
    transform: rotate(180deg);
    left: 15%;
}
#photo_link {
    right: 15%;
}
header {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    padding-left: 2rem;
    margin-right: 1rem;
}
footer {
    background-color: black;
    color: white;
}
footer::after {
    /* copyright*/
}
/* dropdown menu */
.dropbutton {
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
    position: sticky;
    margin-right: 1rem;
    margin-top: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;

}
.menu {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 grey;
    z-index: 1;
    font-size: small;
    text-align: right;
    font-weight: bold;}
.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .menu {
    display: block;
    right: 0;
}
.menu a:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1000px) {
    main img {
        width: 240px;
        height: 245px;
    }
}
@media screen and (max-width: 2000px) {
    main img {
        width: 480px;
        height: 490px;
    }
}